*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0, 0, 255, 0.358), white);
}
main{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    border-radius: 0.5em;
    padding: 1em 1em;
}
form{
    display: flex;
    flex-direction: column;
}
h1{
    text-transform: uppercase;
}

h1, input, button{
    margin: 0.5em 0;
}